<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Home" asp-action="Index">
        <i class="fa-solid fa-house"></i><span>Home</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Home" asp-action="About">
        <i class="fa-solid fa-circle-info"></i><span>About</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Committee" asp-action="Index">
        <i class="fa-solid fa-users"></i><span>Committee</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Blood" asp-action="Index">
        <i class="fa-solid fa-droplet"></i><span>Blood Donor</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Events" asp-action="Index">
        <i class="fa-solid fa-calendar-days"></i><span>Events</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Gallery" asp-action="Index">
        <i class="fa-solid fa-image"></i><span>Gallery</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Home" asp-action="Contact">
        <i class="fa-solid fa-phone"></i><span>Contact</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom login-btn" asp-controller="Account" asp-action="Login">
        <i class="fa-solid fa-right-to-bracket"></i><span>Login</span>
    </a>
</li>
