<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Home" asp-action="Index">
        <i class="fa-solid fa-house"></i><span>Home</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Blood" asp-action="Index">
        <i class="fa-solid fa-droplet"></i><span>Blood Donor</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Events" asp-action="Index">
        <i class="fa-solid fa-calendar-days"></i><span>Events</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Gallery" asp-action="Index">
        <i class="fa-solid fa-image"></i><span>Gallery</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Notice" asp-action="Index">
        <i class="fa-solid fa-bell"></i><span>Notices</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Help" asp-action="Request">
        <i class="fa-solid fa-hand-holding-medical"></i><span>Help</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <a class="nav-link nav-link-custom" asp-controller="Profile" asp-action="Index">
        <i class="fa-solid fa-user"></i><span>My Profile</span>
    </a>
</li>

<li class="nav-item nav-item-custom">
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button class="logout-btn">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
        </button>
    </form>
</li>
