@model CSS.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    ViewData["FullScreen"] = true;
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="auth-full-bg login-bg">

    <div class="auth-card">

        <h2 class="auth-title">Forgot Password?</h2>
        <p class="auth-subtitle">We will send you a 6-digit OTP code</p>

        <form asp-action="ForgotPassword" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email"
                       class="form-control auth-input"
                       placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn auth-btn w-100">Send OTP</button>
        </form>

        <div class="text-center mt-3">
            <a asp-controller="Account" asp-action="Login" class="auth-link">
                Back to Login
            </a>
        </div>

    </div>

</div>
